body {
  /*
    padding: 0;
    background-color: darkgreen;
    color: white;
    */
    background: #21421e;
    color: black;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
    min-width: 60em;
    margin-right: 15%;
    overflow: hidden;
}
body h1 {
    color: #e69500;
    font-family: "Source Code Pro", monospace;
    text-decoration: underline;
    outline: 0;
}
a:hover, a:focus {
  color: gray;
}
a {
    color: black;
}

p {
    margin-bottom: 10px;
}
article em {
  color: #ffffff;
  font-style: normal;
  text-shadow: 0 0 5px #ffffff;
}
/*
article em.star {
  color: #ffff66;
  font-style: normal;
  text-shadow: 0 0 5px #ffff66;
}*/
.purple-window {
    position: absolute;
    top: 0;
    right: 0;
    width: 14%;
    height: 50%;
    top: 45%;
    transform: translateY(-55%);
    background-color: gray;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start; /* Align items to the top */
    padding: 10px; /* Add some padding */
}

.purple-window .headertekst {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; /* Adjust margin */
}

.purple-window h2 {
    color: white;
    text-align: center;
    margin: 0;
}

.purple-window p {
    color: white;
    text-align: left;
    margin: 5px 0; /* Adjust paragraph margins */
}

.purple-window a:hover, .purple-window a:focus {
  color: darkgray;
}
